@page
@model JobTrackWebApp.Pages.Jobs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Job.company" class="control-label"></label>
                <input asp-for="Job.company" class="form-control" />
                <span asp-validation-for="Job.company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.title" class="control-label"></label>
                <input asp-for="Job.title" class="form-control" />
                <span asp-validation-for="Job.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.job_number" class="control-label"></label>
                <input asp-for="Job.job_number" class="form-control" />
                <span asp-validation-for="Job.job_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.last_checked" class="control-label"></label>
                <input asp-for="Job.last_checked" class="form-control" />
                <span asp-validation-for="Job.last_checked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.last_updated" class="control-label"></label>
                <input asp-for="Job.last_updated" class="form-control" />
                <span asp-validation-for="Job.last_updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.date_applied" class="control-label"></label>
                <input asp-for="Job.date_applied" class="form-control" />
                <span asp-validation-for="Job.date_applied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.status" class="control-label"></label>
                <input asp-for="Job.status" class="form-control" />
                <span asp-validation-for="Job.status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.notes" class="control-label"></label>
                <input asp-for="Job.notes" class="form-control" />
                <span asp-validation-for="Job.notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Job.interview" /> @Html.DisplayNameFor(model => model.Job.interview)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Job.rejected" /> @Html.DisplayNameFor(model => model.Job.rejected)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Job.city" class="control-label"></label>
                <input asp-for="Job.city" class="form-control" />
                <span asp-validation-for="Job.city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.state" class="control-label"></label>
                <input asp-for="Job.state" class="form-control" />
                <span asp-validation-for="Job.state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.country" class="control-label"></label>
                <input asp-for="Job.country" class="form-control" />
                <span asp-validation-for="Job.country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
